// imports
@import url("https://mshaugh.github.io/nerdfont-webfonts/build/agave-nerd-font.css" /*"https://fonts.googleapis.com/css?family=Lora:400,400i,700"*/);
@import 'fontsubstyles.scss';
@import 'todostyles.scss';

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@mixin pc-layout {
  @media screen and (min-width: 751px) {
    @content;
  }
}

//Variables
$base-dark:rgba(40 , 40, 40);
$base-dark-lighter: rgb(80, 73, 69);
$base-dark-lighter-t: rgba(80, 73, 69, 0.9);
$base-light: rgba(168, 153, 132);
$b-shadow: 0 0 25px 0 #000000;

* {
  font-family: "Agave Nerd Font", sans-serif;
}

.page-landing {
  margin: 0;
  padding: 0;
  font-family: "Agave Nerd Font", sans-serif;
  color: white;
  background-image: url("../images/electron_background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Keep this for vertical centering */
}

.hamburger {
  position: absolute;
  display: block;
  width: 40px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 99;

  appearance: none;
  background: none;
  outline: none;
  border: none;

  .bar, &:before, &:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: $base-light;
    margin: 6px 0px;
    transition: 0.4s;
  }

  &.is-active {

    &:before {
      transform: translate(0px, 11px) rotate(-45deg);
      background-color: $base-light;
    }

    &:after {
      transform: translate(0px, -11px) rotate(45deg);
      background-color: $base-light;
    }

    .bar {
      opacity: 0;
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  min-height: 100vh;
  color: $base-light;
  display: block;
  background-color: $base-dark;
  padding-top: 30vh;
  text-align: center;
  z-index: 98;
  transition: 0.4s;

  & a {
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto 16px;
    padding: 12px 16px;
    background-color: $base-dark-lighter;
    text-decoration: none;
    user-select: none;
    color: $base-light;
  }

  & a:hover {
    color: $base-dark-lighter;
    background-color: $base-light;
    cursor: pointer;
    transition: 0.4s;
  }

  &.is-active {
    right: 0;
  }
}

.intro-section-landing {
  position: relative;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $base-dark-lighter-t;
  color: $base-light;
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 100%; 
  height: 100vh;
  user-select: none;

  & h1 {
    font-size: 65px;
    margin: 0;
    cursor: pointer;
  }

  & p {
    color: $base-light;
  }
}
